* {
    margin: 0px;
}

.section-1 {
    background-color: crimson;
    color: white;
    margin: 0px;
    padding: 0px 0px 50px 0px;
}

#header {
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

video {
    max-width: 500px;
    max-height: 300px;
}

#header-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

#header-2 h1 {
    font-size: 100px;
    margin: 20px 0 20px 0;
}

#header-2 p {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
}

.section-2 {
    background-color: lightslategray;
    color: white;
    margin: 0px;
    padding: 0px 0px 50px 0px;
}

#services {
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#services-2 {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20px;
    padding: 10px 10px 20px 10px;
}

.section-3 {
    background-color: darkgrey;
    color: white;
    margin: auto;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.section-3 #quote {
    align-self: center;
    font-size: x-large;
}

.section-4 {
    background-color: crimson;
    color: white;
    margin: auto;
    padding: 50px;
}

#sign-up {
    padding: 20px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: darkslategray;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

footer a{
    color: #3882F6
}